{% include "base.html" %}

<!DOCTYPE html>
<html>
<head>
<style>
table {
	border-collapse: collapse;
	width: 100%;
}
th {
    background-color: #4CAF67;
    color: white;
}
th, td {
	text-align: left;
	padding: 8px;
}

tr:nth-child(even) {
	background-color: #f2f2f2
}
</style>
</head>
<body>

	<div style="overflow-x: auto;">
		<table>
			<tr>
				<th>Financial Services</th>
			</tr>
			<tr>
				<td><h5>We may put some information about Financial Services to Anonymous Users </h5></td>
			</tr>
		</table>
	</div>
</body>
</html>
